<EnclaveConfiguration>
    <IntelSigned>1</IntelSigned>
    <ProvisionKey>0</ProvisionKey>
    <LaunchKey>0</LaunchKey>
    <ProdID>0x1</ProdID>
    <ISVSVN>5</ISVSVN>
    <TCSNum>1</TCSNum>
    <TCSMinPool>0</TCSMinPool>
    <TCSPolicy>1</TCSPolicy>
    <HW>0</HW>
    <StackMaxSize>0x5000</StackMaxSize>
    <HeapMaxSize>0x10000</HeapMaxSize>
    <HeapMinSize>0x10000</HeapMinSize>
    <DisableDebug>1</DisableDebug>
</EnclaveConfiguration>
