/*
 * https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 * https://r3-cev.atlassian.net/wiki/display/RH/Color+Palettes
 */

.header {
    -fx-background-color: white;
    -fx-padding: 1.5em;
    -fx-spacing: 20px;
}

.property-label .label {
    -fx-font-size: 14pt;
    -fx-text-fill: black;
}

.big-button {
    -fx-font-size: 12pt;
}

.start-button {
    -fx-base: #26b426;
    -fx-text-fill: white;
}

.city-picker {
    -fx-base: white;
    -fx-background-color: -db-grey, -db-grey, white;
}

.terminal-gradient-pane {
    -fx-border-color: black;
    -fx-border-width: 1 0 0 0;
    -fx-background-color: linear-gradient(to bottom, black, #323232);
}

.terminal-vbox {
    -fx-background-color: #323232;
}

.terminal-widget {
    -fx-opacity: 0.85;
}

.node-panel {
    -fx-spacing: 1em;
    -fx-background-color: white;
}

.services-panel {
    -fx-pref-width: 600px;
    -fx-spacing: 5px;
}

.cordapps-panel {
    -fx-pref-width: 600px;
    -fx-spacing: 5px;
}

.list-cell {
    -fx-control-inner-background: white;
    -fx-control-inner-background-alt: #f7f7f7;
}

.config-view {
    -fx-background-color: white;
    -fx-padding: 1em;
}
