/*
 * https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html
 * https://r3-cev.atlassian.net/wiki/display/RH/Color+Palettes
 */

.header {
    -fx-background-color: #505050;
    -fx-padding: 15px;
}

.property-label .label {
    -fx-font-size: 14pt;
    -fx-text-fill: white;
}

.add-node-button {
    -fx-base: red;
}

.big-button {
    -fx-base: #009759;
    -fx-background-radius: 5px;
    -fx-opacity: 80%;
}

.node-panel {
    -fx-spacing: 20px;
}

.services-panel {
    -fx-pref-width: 600px;
    -fx-spacing: 5px;
}

.cordapps-panel {
    -fx-pref-width: 600px;
    -fx-spacing: 5px;
}

.list-cell {
    -fx-control-inner-background: white;
    -fx-control-inner-background-alt: gainsboro;
}
