.root-pane {
    -fx-font-family: "Source Sans Pro", sans-serif;
    -fx-font-size: 12pt;
}

.node-bank {
    -base-fill: #9e7bff;
}

.node-regulator {
    -base-fill: #fff2d1;
}

.node-network-service {
    -base-fill: red;
}

.node-circle-inner {
    -fx-fill: -base-fill;
    -fx-stroke: derive(-base-fill, -40%);
    -fx-stroke-width: 2px;
}

.node-circle-pulse {
    -fx-fill: radial-gradient(center 50% 50%, radius 50%, #ffffff00, derive(-base-fill, 50%));
}

.hide-sidebar-button {
    -fx-background-color: linear-gradient(to left, #464646, derive(#1c1c1c, 10%));
    -fx-min-width: 0;
    -fx-text-fill: #ffffffaa;
    -fx-alignment: top-right;
    -fx-label-padding: 0;
    -fx-padding: 0 10 0 10;
    -fx-border-color: #00000066;
    -fx-border-width: 1 0 1 1;
}

.bullet {
    -fx-fill: black;
}

.connection-bank-to-bank {
    -fx-fill: white;
}

.message-line {
    -fx-stroke: white;
}

.connection-bank-to-regulator {
    -fx-stroke: red;
}

.node-label > Label, .node-status-label > Label {
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, black, 10, 0.1, 0, 0);
}

/* Hack around the Modena theme that makes all scroll panes grey by default */
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.flat-button {
    -fx-background-color: white;
    -fx-padding: 0 0 0 0;
}

.flat-button:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.flat-button:focused {
    -fx-font-weight: bold;
}

.fat-buttons Button {
    -fx-padding: 10 15 10 15;
    -fx-min-width: 100;
    -fx-font-weight: bold;
    -fx-base: whitesmoke;
}

.fat-buttons ChoiceBox {
    -fx-padding: 4 8 4 8;
    -fx-min-width: 100;
    -fx-font-weight: bold;
    -fx-base: whitesmoke;
}

.fat-buttons Button:default {
    -fx-base: orange;
    -fx-text-fill: white;
    -fx-font-family: 'Source Sans Pro', sans-serif;
}

.fat-buttons Button:cancel {
    -fx-background-color: white;
    -fx-background-insets: 1;
    -fx-border-color: lightgray;
    -fx-border-radius: 3;
    -fx-text-fill: black;
}

.fat-buttons Button:cancel:hover {
    -fx-base: white;
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: black;
}

/** take out the focus ring */
.no-focus-button:focused {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.blue-button {
    -fx-base: lightblue;
    -fx-text-fill: darkslategrey;
}

.blue-button:disabled {
    -fx-text-fill: white;
}

.green-button {
    -fx-base: #62c462;
    -fx-text-fill: darkslategrey;
}

.green-button:disabled {
    -fx-text-fill: white;
}

.next-button {
    -fx-base: #66b2ff;
    -fx-text-fill: white;

    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.style-choice:default {
    -fx-base: #66b2ff;
    -fx-text-fill: white;

    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.controls-hbox {
    -fx-background-color: white;
}

.drop-shadow-pane-horizontal {
    /*-fx-background-color: linear-gradient(to top, #888, #fff);*/
    -fx-background-color: white;
    -fx-border-color: #555;
    -fx-border-width: 0 0 1 0;
}

.logo-label {
    -fx-font-size: 40;
}

.date-label {
    -fx-font-size: 30;
}

.splitter {
    -fx-padding: 0;
    -fx-background-color: #464646;
}

.splitter > .split-pane-divider {
    -fx-background-color: linear-gradient(to left, #1c1c1c, transparent);
    -fx-border-color: black;
    -fx-border-width: 0 1 0 0;
    -fx-padding: 0 2 0 2;
}

.progress-tracker-cursor-box {
    -fx-padding: 0 15 0 0;
}

.progress-tracker-cursor {
    -fx-translate-x: 15.0;
    -fx-fill: white;
}

.sidebar {
    -fx-background-color: #464646;
}

.sidebar > VBox > StackPane {
    -fx-background-color: #666666;
    -fx-padding: 5px;
}

.sidebar > VBox > StackPane > Label {
    -fx-text-fill: white;
}

.progress-tracker-widget-steps {
    -fx-spacing: 5;
    -fx-fill-width: true;
}

.progress-tracker-widget-steps > StackPane {
    -fx-background-color: #5a5a5a;
    -fx-padding: 7px;
    -fx-alignment: center-left;
    -fx-max-height: 35px;
    -fx-min-height: 35px;
}

.progress-tracker-widget-steps > StackPane > Label {
    -fx-text-fill: white;
}