# All documentation should be reviewed by the technical writers
*.md	@corda/technical-writers

# By default anything under core or node-api is the Kernel team
core    @rick-r3
node-api        @rick-r3
node/src/main/kotlin/net/corda/node/internal    @rick-r3
node/src/main/kotlin/net/corda/node/services    @rick-r3

# Demobench defaults to Chris, but Viktor for the main code
tools/demobench @rick-r3

# General Corda code

core/src/main/kotlin/net/corda/core/flows	@rick-r3
core/src/main/kotlin/net/corda/core/internal/notary	@rick-r3

node/src/integration-test/kotlin/net/corda/node/persistence	@chriscochrane
node/src/integration-test/kotlin/net/corda/node/services/persistence	@chriscochrane
node/src/main/kotlin/net/corda/node/services/messaging	@rick-r3
node/src/main/kotlin/net/corda/node/services/persistence	@rick-r3
node/src/main/kotlin/net/corda/node/services/statemachine	@rick-r3
node/src/main/kotlin/net/corda/notary	@rick-r3

node-api/src/main/kotlin/net/corda/nodeapi/internal/persistence	@rick-r3

common/logging/src/main/kotlin/net/corda/common/logging/errorReporting @chriscochrane
common/logging/src/test/kotlin/net/corda/commmon/logging/errorReporting @chriscochrane

# Single file ownerships go at the end, as they are most specific and take precedence over other ownerships

core/src/main/kotlin/net/corda/core/internal/AbstractAttachment.kt      @adelel1
core/src/main/kotlin/net/corda/core/internal/AttachmentTrustCalculator.kt       @adelel1
core/src/main/kotlin/net/corda/core/internal/AttachmentWithContext.kt   @adelel1
core/src/main/kotlin/net/corda/core/node/services/AttachmentStorage.kt  @adelel1
