# All documentation should be reviewed by the technical writers
*.md	@corda/technical-writers

# By default anything under core or node-api is the Kernel team
core    @corda/kernel
node-api        @corda/kernel
node/src/main/kotlin/net/corda/node/internal    @corda/kernel
node/src/main/kotlin/net/corda/node/services    @corda/kernel

# Determinstic components
core-deterministic      @chrisr3
jdk8u-deterministic     @chrisr3
node/djvm       @chrisr3
serialization-deterministic     @chrisr3
serialization-djvm      @chrisr3
serialization-tests     @chrisr3

# Demobench defaults to Chris, but Viktor for the main code
tools/demobench @chrisr3

# General Corda code

core/src/main/kotlin/net/corda/core/flows	@dimosr
core/src/main/kotlin/net/corda/core/internal/notary	@corda/notaries

node/src/integration-test/kotlin/net/corda/node/persistence	@blsemo
node/src/integration-test/kotlin/net/corda/node/services/persistence	@blsemo
node/src/main/kotlin/net/corda/node/services/messaging	@dimosr
node/src/main/kotlin/net/corda/node/services/persistence	@blsemo
node/src/main/kotlin/net/corda/node/services/statemachine	@lankydan
node/src/main/kotlin/net/corda/notary	@corda/notaries

node-api/src/main/kotlin/net/corda/nodeapi/internal/persistence	@blsemo

common/logging/src/main/kotlin/net/corda/common/logging/errorReporting @JamesHR3
common/logging/src/test/kotlin/net/corda/commmon/logging/errorReporting @JamesHR3

# Single file ownerships go at the end, as they are most specific and take precedence over other ownerships

core/src/main/kotlin/net/corda/core/internal/AbstractAttachment.kt      @adelel1
core/src/main/kotlin/net/corda/core/internal/AttachmentTrustCalculator.kt       @adelel1
core/src/main/kotlin/net/corda/core/internal/AttachmentWithContext.kt   @adelel1
core/src/main/kotlin/net/corda/core/node/services/AttachmentStorage.kt  @adelel1
