/* demo only */

.r3-bank-demo-header * {
  color: #ec1d24 !important;
}


/* end demo only */


/* sticky footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}


/* end sticky footer */
