<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="defaultLogLevel">info</Property>
    </Properties>

    <ThresholdFilter level="trace"/>

    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%level{length=1} %date{HH:mm:ssZ} [%t] %c{2}.%method - %msg%n}{INFO=white,WARN=red,FATAL=bright red}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="${sys:defaultLogLevel}">
            <AppenderRef ref="Console-Appender" level="${sys:defaultLogLevel}"/>
        </Root>
    </Loggers>
</Configuration>
