<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-left"><img src="assets/images/r3logo.png" height="30px" vspace="5"></a>
      <a class="navbar-brand" href="#">Portfolio Valuation CorDapp</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li routerLinkActive="active"><a routerLink="/portfolio">View Portfolio</a></li>
        <li routerLinkActive="active"><a routerLink="/create-trade">Create New Trade</a></li>
        <li routerLinkActive="active"><a routerLink="/valuations">Agree Valuations</a></li>
      </ul>
      <ul *ngIf="whoAmI" [ngClass]="{'r3-bank-demo-header': whoAmI === 'R3 Bank'}" class="nav navbar-nav navbar-right">
        <li><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{whoAmI}}</a></li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="counterParties.length == 0" class="sk-three-bounce" style="padding-top: 40px">
  <div class="sk-child sk-bounce1"></div>
  <div class="sk-child sk-bounce2"></div>
  <div class="sk-child sk-bounce3"></div>
</div>

<!-- ng-if would break the routing, in some cases (?) -->
<div [ngClass]="{'invisible': counterParties.length == 0}" class="container" style="padding-top: 40px">
  <div class="well row">
    <div class="col-xs-4 col-xs-offset-4">
      <ng-select [allowClear]="true" [items]="counterParties" (data)="refreshValue($event)" (selected)="selected($event)" placeholder="Select a counterparty">
      </ng-select>
    </div>
  </div>

  <!-- ng-if would break highcharts -->
  <div [ngClass]="{'invisible': !counterparty}">
    <router-outlet></router-outlet>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Developed by the really cool people at OpenGamma, Intesa and R3</p>
  </div>
</footer>
