.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 75%;
  padding-top: 8px;
}

.checkbox {
  width: 60px;
  height: 60px;
}

th {
  white-space: nowrap;
}
