<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="default_log_level">${sys:defaultLogLevel:-info}</Property>
        <Property name="console_log_level">${sys:consoleLogLevel:-error}</Property>
    </Properties>
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level{length=5}] %date{HH:mm:ssZ} - %msg%n%throwable{0}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="${default_log_level}">
            <AppenderRef ref="Console-Appender" level="${console_log_level}"/>
        </Root>
    </Loggers>
</Configuration>
