@import "corda-dark-color-scheme.css";

/* Global CSS */
.button:selected, .button:focused,
.list-view:selected, .list-view:focused,
.tree-view:selected, .tree-view:focused,
.text-field:selected, .text-field:focused,
.table-view:selected, .table-view:focused,
.choice-box:selected, .choice-box:focused,
.scroll-pane:selected, .scroll-pane:focused,
.menu-button:selected, .menu-button:focused,
.tree-table-view:selected, .tree-table-view:focused {
    -fx-focus-color: -color-4;
    -fx-faint-focus-color: #d3524422;
}

.list-cell:focused, .list-cell:selected,
.table-row-cell:focused, .table-row-cell:selected,
.tree-table-row-cell:focused, .tree-table-row-cell:selected,
.choice-box .menu-item:focused, .choice-box .menu-item:selected,
.menu-button .menu-item:focused, .menu-button .menu-item:selected,
.context-menu .menu-item:focused, .context-menu .menu-item:selected {
    -fx-background-color: -color-5;
}

.context-menu .menu-item .label {
    -fx-text-fill: -color-0;
}

.split-pane-divider {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 2;
}

/* Sidebar */
.sidebar {
    -fx-background-color: -color-0;
    -fx-max-width: 200px;
}

.sidebar-menu-item {
    -fx-background-color: transparent;
    -fx-max-width: infinity;
    -fx-min-width: 85px;
    -fx-border-width: 0;
    -fx-padding: 10, 10, 10, 10;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 0;
}

.sidebar-menu-item-selected,
.sidebar-menu-item:hover, .sidebar-menu-item:selected {
    -fx-background-color: -color-3;
    -fx-border-color: -color-3;
}

.sidebar-menu-item-arrow {
    -fx-text-fill: -color-0;
    -fx-font-size: 30pt;
}

/* Top level split panes */
#mainSplitPane > .split-pane-divider {
    -fx-background-color: -color-0;
    -fx-border-color: -color-0;
    -fx-border-width: 0;
    -fx-padding: 0 0 0 3;
}

/* Header */
.header {
    -fx-background-color: -color-0;
    -fx-padding: 5;
}

.header .split-menu-button {
    -fx-min-width: 100px;
}

.header .split-menu-button .label {
    -fx-text-fill: -color-0;
}

.mainView .split-pane {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

/* Chart */
.chart {
    -fx-padding: 0;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line {
    -fx-stroke: -color-3;
}

.chart-plot-background {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

.chart-horizontal-grid-lines, .chart-vertical-grid-lines {
    -fx-stroke: transparent;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

/* Home view*/

.tile .title, .tile:expanded .title {
    -fx-alignment: center-left;
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-color: -color-1;
    -fx-border-color: transparent;
}

.tile .title .text, .tile:expanded .title .text {
    -fx-fill: -color-0;
}

.tile .content {
    -fx-background-color: -color-1;
    -fx-background-size: Auto 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-cursor: hand;
    -fx-padding: 0px;
    -fx-alignment: bottom-right;
    -fx-border-color: transparent; /*t r b l */
}

.tile .label {
    -fx-font-size: 2.4em;
    -fx-padding: 20px;
    -fx-text-fill: -color-0;
    -fx-font-weight: normal;
    -fx-text-alignment: right;
}

.tile:hover {
    -fx-border-color: -color-3;
    -fx-border-width: 2;
    -fx-border-radius: 2;
}

.tile, .tile-user {
    -fx-padding: 10px;
    -fx-pref-height: 250px;
}

/* Login View */
.login .button {
    -fx-background-color: -color-3;
    -fx-font-weight: bold;
    -fx-text-fill: -color-2;
}

.login .button:hover {
    -fx-background-color: -color-4;
}

.login {
    -fx-background-color: -color-0;
}

.login .text-field {
    -fx-border-color: -color-1;
}

.login .label {
    -fx-text-fill: -color-2;
    -fx-font-weight: bold;
}

.searchField .text-field {
    -fx-padding: 5px 5px 5px 30px;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
}

.searchField .glyph-icon {
    -fx-fill: -color-1;
    -fx-padding: 0;
}

.searchField .search-clear:hover {
    -fx-fill: -color-4;
}
