<h2> New Deal </h2>
<div class="container">
  <div class="alert alert-danger" id="form-error" *ngIf="formError">{{formError}}</div>

  <form id="deal-form" class="form">
    <div class="form-group">
      <label>Convention</label>
      <select class="form-control" name="token" [(ngModel)]="deal.convention">
        <option value="EUR_FIXED_1Y_EURIBOR_3M" selected>EUR fixed 1Y EURIBOR 3M</option>
        <option value="EUR_FIXED_1Y_EURIBOR_6M">EUR fixed 1Y EURIBOR 6M</option>
        <!--<option value="USD_FIXED_6M_LIBOR_3M">USD fixed 6M LIBOR 3M</option>
        <option value="USD_FIXED_1Y_LIBOR_3M">USD fixed 1Y LIBOR 3M</option>
        <option value="GBP_FIXED_1Y_LIBOR_3M">GBP fixed 1Y LIBOR 3M</option>
        <option value="GBP_FIXED_6M_LIBOR_6M">GBP fixed 6M LIBOR 6M</option>
        <option value="GBP_FIXED_3M_LIBOR_3M">GBP fixed 3M LIBOR 3M</option>
        <option value="CHF_FIXED_1Y_LIBOR_3M">CHF fixed 1Y LIBOR 3M</option>
        <option value="CHF_FIXED_1Y_LIBOR_6M">CHF fixed 1Y LIBOR 6M</option>
        <option value="JPY_FIXED_6M_TIBORJ_3M">JPY fixed 6M TIBORJ 3M</option>
        <option value="JPY_FIXED_6M_LIBOR_6M">JPY fixed 6M LIBOR 6M</option>-->
      </select>
    </div>
    <div class="form-group">
      <label>Trade Date</label>
      <input type="date" class="form-control" name="tradeDate" [(ngModel)]="deal.tradeDate" />
    </div>
    <div class="form-group">
      <label>Effective Date</label>
      <input type="date" class="form-control" name="startDate" [(ngModel)]="deal.startDate" />
    </div>
    <div class="form-group">
      <label>Termination Date</label>
      <input type="date" class="form-control" name="endDate" [(ngModel)]="deal.endDate" />
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="description" [(ngModel)]="deal.description" />
    </div>
    <div class="form-group">
      <label>Notional</label>
      <input type="text" class="form-control" name="notional" [(ngModel)]="deal.notional" fcsa-number/>
    </div>
    <div class="form-group">
      <label>Buy/Sell</label>
      <select class="form-control" name="token" [(ngModel)]="deal.buySell">
        <option value="BUY">BUY</option>
        <option value="SELL">SELL</option>
      </select>
    </div>
    <div class="container-fluid">
      <input type="submit" class="submit btn btn-primary col-xs-12" (click)="createDeal()" />
    </div>
  </form>
</div>
