<div class="ui container">
    <div class="ui negative message" id="form-error" ng-show="formError">{{formError}}</div>
    <div class="ui active dimmer" ng-show="isLoading()">
        <div class="ui text loader">Loading</div>
    </div>
    <h2>New Deal</h2>
    <form class="ui form" ng-submit="createDeal()">
        <div class="ui grid">
            <div class="eight wide column">
                <h3>Fixed Leg</h3>
                <div class="field">
                    <label>Fixed Rate Payer</label>
                    <input type="text" name="fixedRatePayer" ng-model="deal.fixedLeg.fixedRatePayer"/>
                </div>
                <div class="field">
                    <label>Notional</label>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <input type="text" name="quantity" ng-model="deal.fixedLeg.notional.quantity" fcsa-number/>
                        </div>
                        <div class="eight wide column">
                            <select class="ui dropdown fluid" name="token" ng-model="deal.fixedLeg.notional.token">
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="GBP">GBP</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Payment Frequency</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.fixedLeg.paymentFrequency" />
                        <div class="default text">{{deal.fixedLeg.paymentFrequency}}</div>
                        <div class="menu">
                            <div class="item" data-value="Annual">Annual</div>
                            <div class="item" data-value="SemiAnnual">Semi Annual</div>
                            <div class="item" data-value="Quarterly">Quarterly</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Effective Date</label>
                    <input type="date" name="effectiveDate" ng-model="deal.fixedLeg.effectiveDate""/>
                </div>
                <div class="field">
                    <label>Termination Date</label>
                    <input type="date" name="terminationDate" ng-model="deal.fixedLeg.terminationDate"/>
                </div>
                <div class="field">
                    <label>Day Count Basis</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.fixedLeg.dayCountBasis" />
                        <div class="default text">{{deal.fixedLeg.dayCountBasis}}</div>
                        <div class="menu">
                            <div class="item">1/1</div>
                            <div class="item">30/360</div>
                            <div class="item">30E/360</div>
                            <div class="item">30E/360 (IDSA)</div>
                            <div class="item">30E+/360 ISDO</div>
                            <div class="item">ACT/360</div>
                            <div class="item">ACT/365 Fixed</div>
                            <div class="item">ACT/365 L</div>
                            <div class="item">ACT/365 A/1</div>
                            <div class="item">NL/365</div>
                            <div class="item">ACT/ACT ISDA</div>
                            <div class="item">ACT/ACT ICMA</div>
                            <div class="item">Business/252</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Roll Convention</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.fixedLeg.rollConvention" />
                        <div class="default text">{{deal.fixedLeg.rollConvention}}</div>
                        <div class="menu">
                            <div class="item" data-value="Following">Following</div>
                            <div class="item" data-value="Preceding">Preceding</div>
                            <div class="item" data-value="ModifiedFollowing">Modified following</div>
                            <div class="item" data-value="ModifiedFollowingBimonthly">Modified following bimonthly</div>
                            <div class="item" data-value="EndOfMonth">End of month</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Day in Month</label>
                    <input type="text" name="dayInMonth" ng-model="deal.fixedLeg.dayInMonth"/>
                </div>
                <div class="field">
                    <label>Payment Delay</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.fixedLeg.paymentDelay" />
                        <div class="default text">{{deal.fixedLeg.paymentDelay}}</div>
                        <div class="menu">
                            <div class="item" data-value="0">T+00D</div>
                            <div class="item" data-value="1">T+01D</div>
                            <div class="item" data-value="2">T+02D</div>
                            <div class="item" data-value="3">T+03D</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Payment Calendar</label>
                    <input type="text" name="paymentCalendar" ng-model="deal.fixedLeg.paymentCalendar"/>
                </div>
                <div class="field">
                    <label>Fixed Rate</label>
                    <input type="text" name="value" class="percent" ng-model="deal.fixedLeg.fixedRate"/>
                </div>
                <div class="field">
                    <label>Interest Period Adjustment</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.fixedLeg.interestPeriodAdjustment" />
                        <div class="default text">{{deal.fixedLeg.interestPeriodAdjustment}}</div>
                        <div class="menu">
                            <div class="item" data-value="Adjusted">Adjusted</div>
                            <div class="item" data-value="Unadjusted">Unadjusted</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <h3>Floating Leg</h3>
                <div class="field">
                    <label>Floating Rate Payer</label>
                    <input type="text" name="floatingRatePayer" ng-model="deal.floatingLeg.floatingRatePayer"/>
                </div>
                <div class="field">
                    <label>Notional</label>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <input type="text" name="quantity" ng-model="deal.floatingLeg.notional.quantity" fcsa-number/>
                        </div>
                        <div class="eight wide column">
                            <select class="ui dropdown fluid" name="token" ng-model="deal.floatingLeg.notional.token">
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="GBP">GBP</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Payment Frequency</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.floatingLeg.paymentFrequency" />
                        <div class="default text">{{deal.floatingLeg.paymentFrequency}}</div>
                        <div class="menu">
                            <div class="item" data-value="Annual">Annual</div>
                            <div class="item" data-value="SemiAnnual">Semi Annual</div>
                            <div class="item" data-value="Quarterly">Quarterly</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Effective Date</label>
                    <input type="date" name="effectiveDate" ng-model="deal.floatingLeg.effectiveDate"/>
                </div>
                <div class="field">
                    <label>Termination Date</label>
                    <input type="date" name="terminationDate" ng-model="deal.floatingLeg.terminationDate"/>
                </div>
                <div class="field">
                    <label>Day Count Basis</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.floatingLeg.dayCountBasis" />
                        <div class="default text">{{deal.floatingLeg.dayCountBasis}}</div>
                        <div class="menu">
                            <div class="item">1/1</div>
                            <div class="item">30/360</div>
                            <div class="item">30E/360</div>
                            <div class="item">30E/360 (IDSA)</div>
                            <div class="item">30E+/360 ISDO</div>
                            <div class="item">ACT/360</div>
                            <div class="item">ACT/365 Fixed</div>
                            <div class="item">ACT/365 L</div>
                            <div class="item">ACT/365 A/1</div>
                            <div class="item">NL/365</div>
                            <div class="item">ACT/ACT ISDA</div>
                            <div class="item">ACT/ACT ICMA</div>
                            <div class="item">Business/252</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Roll Convention</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.floatingLeg.rollConvention" />
                        <div class="default text">{{deal.floatingLeg.rollConvention}}</div>
                        <div class="menu">
                            <div class="item" data-value="Following">Following</div>
                            <div class="item" data-value="Preceding">Preceding</div>
                            <div class="item" data-value="ModifiedFollowing">Modified following</div>
                            <div class="item" data-value="ModifiedFollowingBimonthly">Modified following bimonthly</div>
                            <div class="item" data-value="EndOfMonth">End of month</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Fixing Roll Convention</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.floatingLeg.fixingRollConvention" />
                        <div class="default text">{{deal.floatingLeg.fixingRollConvention}}</div>
                        <div class="menu">
                            <div class="item" data-value="Following">Following</div>
                            <div class="item" data-value="Preceding">Preceding</div>
                            <div class="item" data-value="ModifiedFollowing">Modified following</div>
                            <div class="item" data-value="ModifiedFollowingBimonthly">Modified following bimonthly</div>
                            <div class="item" data-value="EndOfMonth">End of month</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Day In Month</label>
                    <input type="text" name="dayInMonth" ng-model="deal.floatingLeg.dayInMonth"/>
                </div>
                <div class="field">
                    <label>Reset Day In Month</label>
                    <input type="text" name="resetDayInMonth" ng-model="deal.floatingLeg.resetDayInMonth"/>
                </div>
                <div class="field">
                    <label>Payment Delay</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.floatingLeg.paymentDelay" />
                        <div class="default text">{{deal.floatingLeg.paymentDelay}}</div>
                        <div class="menu">
                            <div class="item" data-value="0">T+00D</div>
                            <div class="item" data-value="1">T+01D</div>
                            <div class="item" data-value="2">T+02D</div>
                            <div class="item" data-value="3">T+03D</div>
                        </div>
                    </div>
                </div>
                <!--<div class="ui container"><h3>deal.floatingLeg.paymentCalendar</h3>
                    <div class="field">
                        <label>0</label>
                        <input type="text" name="0" ng-model="deal.floatingLeg.paymentCalendar.0"/>
                    </div>
                </div>-->
                <div class="field">
                    <label>Interest Period Adjustment</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" ng-model="deal.floatingLeg.interestPeriodAdjustment" />
                        <div class="default text">{{deal.floatingLeg.interestPeriodAdjustment}}</div>
                        <div class="menu">
                            <div class="item" data-value="Adjusted">Adjusted</div>
                            <div class="item" data-value="Unadjusted">Unadjusted</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Fixing Period Offset</label>
                    <input type="number" name="fixingPeriodOffset" ng-model="deal.floatingLeg.fixingPeriodOffset"/>
                </div>
                <div class="field">
                    <label>Reset Rule</label>
                    <input type="text" name="resetRule" ng-model="deal.floatingLeg.resetRule"/>
                </div>
                <div class="field">
                    <label>Fixings Per Payment</label>
                    <input type="text" name="fixingsPerPayment" ng-model="deal.floatingLeg.fixingsPerPayment"/>
                </div>
                <!--<div class="ui container"><h3>deal.floatingLeg.fixingCalendar</h3>
                    <div class="field">
                        <label>0</label>
                        <input type="text" name="0" ng-model="deal.floatingLeg.fixingCalendar.0"/>
                    </div>
                </div>-->
                <div class="field">
                    <label>Index</label>
                    <input type="text" name="index" ng-model="deal.floatingLeg.index"/>
                </div>
                <div class="field">
                    <label>Index Source</label>
                    <input type="text" name="indexSource" ng-model="deal.floatingLeg.indexSource"/>
                </div>
                <div class="ui container">
                    <h3>Index Tenor</h3>
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="name" ng-model="deal.floatingLeg.indexTenor.name"/>
                    </div>
                </div>
            </div>
            <div class="sixteen wide column">
                <h3>Common</h3>
                <div class="field">
                    <label>Base Currency</label>
                    <input type="text" name="baseCurrency" ng-model="deal.common.baseCurrency"/>
                </div>
                <div class="field">
                    <label>Eligible Currency</label>
                    <input type="text" name="eligibleCurrency" ng-model="deal.common.eligibleCurrency"/>
                </div>
                <div class="field">
                    <label>Eligible Credit Support</label>
                    <input type="text" name="eligibleCreditSupport" ng-model="deal.common.eligibleCreditSupport"/>
                </div>
                <div class="field">
                    <label>Independent Amounts</label>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <input type="text" name="quantity" ng-model="deal.common.independentAmounts.quantity" fcsa-number />
                        </div>
                        <div class="eight wide column">
                            <select class="ui dropdown fluid" name="token" ng-model="deal.common.independentAmounts.token">
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ui container">
                    <h3>Threshold</h3>
                    <div class="field">
                        <div class="ui grid">
                            <div class="eight wide column">
                                <input type="text" name="quantity" ng-model="deal.common.threshold.quantity" fcsa-number />
                            </div>
                            <div class="eight wide column">
                                <select class="ui dropdown fluid" name="token" ng-model="deal.common.threshold.token">
                                    <option value="EUR">EUR</option>
                                    <option value="USD">USD</option>
                                    <option value="GBP">GBP</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Minimum Transfer Amount</label>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <input type="text" name="quantity" ng-model="deal.common.minimumTransferAmount.quantity" fcsa-number />
                        </div>
                        <div class="eight wide column">
                            <select class="ui dropdown fluid" name="token" ng-model="deal.common.minimumTransferAmount.token">
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                                <option value="GBP">GBP</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Rounding</label>
                    <div class="ui grid">
                        <div class="eight wide column">
                            <input type="text" name="quantity" ng-model="deal.common.rounding.quantity" fcsa-number/>
                        </div>
                        <div class="eight wide column">
                            <select class="ui dropdown fluid" name="token" ng-model="deal.common.rounding.token">
                                <option value="EUR">EUR</option>
                                <option value="USD">USD</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>ValuationDate</label>
                    <input type="text" name="valuationDate" ng-model="deal.common.valuationDate"/>
                </div>
                <div class="field">
                    <label>NotificationTime</label>
                    <input type="text" name="notificationTime" ng-model="deal.common.notificationTime"/>
                </div>
                <div class="field">
                    <label>ResolutionTime</label>
                    <input type="text" name="resolutionTime" ng-model="deal.common.resolutionTime"/>
                </div>
                <div class="ui container">
                    <h3>InterestRate</h3>
                    <div class="field">
                        <label>Oracle</label>
                        <input type="text" name="oracle" ng-model="deal.common.interestRate.oracle"/>
                    </div>
                    <div class="ui container"><h3>Tenor</h3>
                        <div class="field">
                            <label>Name</label>
                            <input type="text" name="name" ng-model="deal.common.interestRate.tenor.name"/>
                        </div>
                    </div>
                    <div class="ui container"><h3>Ratio Unit</h3></div>
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="name" ng-model="deal.common.interestRate.name"/>
                    </div>
                </div>
                <div class="field">
                    <label>Address For Transfers</label>
                    <input type="text" name="addressForTransfers" ng-model="deal.common.addressForTransfers"/>
                </div>
                <!--<div class="ui container"><h3>deal.common.exposure</h3></div>
                <div class="ui container"><h3>deal.common.localBusinessDay</h3>
                    <div class="field">
                        <label>0</label>
                        <input type="text" name="0" ng-model="deal.common.localBusinessDay.0"/>
                    </div>
                    <div class="field">
                        <label>1</label>
                        <input type="text" name="1" ng-model="deal.common.localBusinessDay.1"/>
                    </div>
                </div>-->
            </div>
            <div class="sixteen wide column">
                <input type="submit" class="ui submit primary button fluid"/>
            </div>
        </div>
    </form>
</div>