<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/demobench/demobench.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date %-5level %c{1} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>
