<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" shutdownHook="disable">

    <Properties>
        <Property name="log-path">${sys:log-path:-logs}</Property>
        <Property name="log-name">node-${hostName}</Property>
        <Property name="diagnostic-log-name">diagnostic-${hostName}</Property>
        <Property name="archive">${log-path}/archive</Property>
        <Property name="defaultRootLevel">${sys:defaultLogLevel:-info}</Property>
        <Property name="defaultConsoleLevel">${sys:consoleLogLevel:-error}</Property>
    </Properties>

    <Appenders>
        <Console name="Console-Standard" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%highlight{[%level{length=5}] %date{HH:mm:ssZ} [%t] %c{2}.%method - %msg%notEmpty{ %X}%n%throwable{0}}{INFO=white,WARN=red,FATAL=bright red}</Pattern>
            </PatternLayout>
        </Console>

        <Console name="Console-Debug" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%highlight{[%level{length=5}] %date{HH:mm:ssZ} [%t] %c{2}.%method - %msg%notEmpty{ %X}%n%throwable{}}{INFO=white,WARN=red,FATAL=bright red}</Pattern>
            </PatternLayout>
        </Console>

        <Routing name="Console-Routing-Appender">
            <Routes pattern="${sys:consoleLogLevel}">
                <Route key="debug" ref="Console-Debug" />
                <Route key="trace" ref="Console-Debug" />
                <Route ref="Console-Standard" />
            </Routes>
        </Routing>

        <Console name="Console-Appender-Println" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n%throwable{0}" />
        </Console>

        <RollingRandomAccessFile name="RollingFile-Appender"
                                 fileName="${log-path}/${log-name}.log"
                                 filePattern="${archive}/${log-name}.%date{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%-5level] %date{ISO8601}{UTC}Z [%t] %c{2}.%method - %msg%notEmpty{ %X}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="500">
                <Delete basePath="${archive}" maxDepth="1">
                    <IfFileName glob="${log-name}*.log.gz"/>
                    <IfLastModified age="60d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="Diagnostic-RollingFile-Appender"
                                 fileName="${log-path}/${diagnostic-log-name}.log"
                                 filePattern="${archive}/${diagnostic-log-name}.%date{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%-5level] %date{ISO8601}{UTC}Z [%t] %c{2}.%method - %msg%notEmpty{ %X}%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="100">
                <Delete basePath="${archive}" maxDepth="1">
                    <IfFileName glob="${diagnostic-log-name}*.log.gz"/>
                    <IfLastModified age="60d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

        <RollingFile name="Checkpoint-Agent-RollingFile-Appender"
                     fileName="${log-path}/checkpoints_agent-${date:yyyyMMdd-HHmmss}.log"
                     filePattern="${archive}/checkpoints_agent.%date{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%-5level] %date{ISO8601}{UTC}Z [%t] %c{2}.%method - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="100">
                <Delete basePath="${archive}" maxDepth="1">
                    <IfFileName glob="checkpoints_agent*.log.gz"/>
                    <IfLastModified age="60d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="${defaultRootLevel}">
            <SystemPropertyArbiter propertyName="consoleLoggingEnabled" propertyValue="true">
                <AppenderRef ref="Console-Routing-Appender" level="${defaultConsoleLevel}"/>
            </SystemPropertyArbiter>
            <AppenderRef ref="RollingFile-Appender"/>
        </Root>

        <Logger name="BasicInfo" additivity="false" level="info">
            <AppenderRef ref="Console-Appender-Println"/>
            <AppenderRef ref="RollingFile-Appender"/>
        </Logger>

        <Logger name="org.hibernate" level="warn" additivity="false">
            <AppenderRef ref="Diagnostic-RollingFile-Appender"/>
        </Logger>

        <Logger name="org.hibernate.SQL" level="info" additivity="false">
            <SystemPropertyArbiter propertyName="consoleLoggingEnabled" propertyValue="true">
                <AppenderRef ref="Console-Routing-Appender"/>
            </SystemPropertyArbiter>
            <AppenderRef ref="RollingFile-Appender"/>
        </Logger>

        <Logger name="org.apache.activemq.artemis.core.server" level="warn" additivity="false">
            <SystemPropertyArbiter propertyName="consoleLoggingEnabled" propertyValue="true">
                <AppenderRef ref="Console-Routing-Appender">
                    <Filters>
                        <RegexFilter regex=".*AMQ222061.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                        <RegexFilter regex=".*AMQ222107.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                        <RegexFilter regex=".*AMQ222165.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                        <RegexFilter regex=".*AMQ222166.*" onMatch="DENY" onMismatch="NEUTRAL"/>
                    </Filters>
                </AppenderRef>
            </SystemPropertyArbiter>
            <AppenderRef ref="RollingFile-Appender"/>
        </Logger>

        <Logger name="org.jolokia" additivity="true" level="warn">
            <AppenderRef ref="Console-Appender-Println"/>
            <AppenderRef ref="RollingFile-Appender"/>
        </Logger>

        <Logger name="CheckpointAgent" level="debug" additivity="false">
            <AppenderRef ref="Checkpoint-Agent-RollingFile-Appender"/>
        </Logger>
    </Loggers>
</Configuration>