## The following requirements were added by pip freeze:
alabaster==0.7.8
Babel==2.3.4
certifi==2018.4.16
chardet==3.0.4
docutils==0.12
idna==2.6
imagesize==0.7.1
Jinja2==2.8
MarkupSafe==0.23
packaging==17.1
pdfrw==0.4
Pillow==5.1.0
Pygments==2.2.0
pyparsing==2.2.0
pytz==2016.4
reportlab==3.4.0
requests==2.18.4
rst2pdf==0.93
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.7.4
sphinx-rtd-theme==0.1.9
sphinxcontrib-websupport==1.0.1
typing==3.6.4
urllib3==1.22
